body{
    margin: 0;
    padding: 0;
    
    font-family: 'Lato', sans-serif;
}

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.main{
    background-image: url("images/4-40729_earth-4k.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}

.login{
    width:34%;
    /* height:75vh; */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 10px;
    
}

.login_div{
    /* border: 1px solid #fff; */
    /* width:90%; */
    /* height:100%; */
    margin: 50px;
    position: relative;
    padding-top: 20px;
}

.logo{
    /* width: 100%; */
    margin: auto 40%;
    
}

.logo_img{
    width: 70px;
}
.login_sign{ 
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}

.div_grid1{    
    /* border: 2px solid #fff; */
    width: 47%;
    text-align: center;
    
}

.div_grid2{    
    /* border: 2px solid #fff; */
    width: 47%;
    text-align: center;
    opacity: 0.4;
   
}

.log_btn{
    width: 100%;
    height: 60px;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #001333;
    color:#fff;
}


.input_box{
    margin-top: 70px;
}

input[type="text"]{
    outline: none;
}

.username, .password{
    width: 100%;
    position: relative;
}

.username_text, .password_text{
    width: 100%;
    padding: 12px;
    border: 0;
    border-bottom: 2px solid #001333;
    background-color: transparent;
   
}

::placeholder{
    color: #001333;
    opacity: 0.8;
    font-size: 15px;
}

.user, .hide{
    position: absolute;
    right: 16px;
    top: 10px;
    color: #00133380;
    font-size: 20px;
}

.password{
    margin-top: 35px;
    
}

.forgot{
    margin-top: 25px;
}

.forgot_text{
    display: flex;
    justify-content: flex-end;
    color: #001333;
    text-decoration: underline;

}

.login_btn{
    margin-top: 35px;
}

.logbtn{
    width: 100%;
    height: 50px;
    font-size: 30px;
    border-radius: 4px;
    background-color: #001333;
    color:#fff;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.or_text{
    text-align: center;
    color: #fff;
    font-size: 20px;
    
}

.or {
    position: relative;
}

.or::before{
    content: "";
    position: absolute;
    width: 52%;
    height: 1px;
    background-color: #ffffffc4;
    top: 14px;
    left: -28px;
     
}

.or::after {
    content: "";
    position: absolute;
    width: 52%;
    height: 1px;
    background-color: #ffffffc4;
    top: 14px;
    right: -27px;
}


.login-with{
    width: 100%;
}

.loginwith{
    text-align: center;
    color: #fff;
    font-size: 20px;
}


.social{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.google, .facebook{
    width:30%;
 
}

.google{
    margin-right: 40px;
}

.google_ico{
    width: 100%;
    border: none;
    background-color: #E53935;
    color: #fff;  
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.fb_ico{
    width: 100%;
    border: none;
    background-color: #039BE5;
    color: #fff; 
    padding: 10px; 
    font-size: 19px;
    border-radius: 5px;
}

.fa-google{
    margin-right: 30px;
    font-size: 23px;
}

.fa-facebook-f{
    margin-right: 24px;
    font-size: 23px;
}










@media screen and (max-width: 330px){
    .login {
        width: 80%;
        height: 57vh;
    }

    /* .logo_img{
        width: 50%;
    } */

    .login_div {
        width: 80%;
        margin:25px;
    }

    .login_sign{
        margin-top: 43px;
    }

    .log_btn{
        height: 32px;
        font-size: 18px;
    }

    .input_box {
        margin-top: 18px;
    }

    ::placeholder{
        font-size: 12px;
    }

    .user, .hide{
        font-size: 15px;
        position: absolute;
        top: 14px;
    }

    .password{
        margin-top: 15px;
    }

    .forgot{
        margin-top: 13px;
        font-size: 10px;
    }

    .log_btn{
        font-size: 20px;
    }

    .login_btn{
        margin-top: 20px;
    }

    .logbtn{
        font-size: 15px;
        height:30px;
    }

    .or_text{
        font-size: 13px;
    }

    .or::before{
        width: 46%;
        top: 8px;
        left: -3px;
    }

    .or::after{
        width: 46%;
        top: 9px;
        right: -3px;
    }

    .loginwith{
        font-size: 13px;
    }

    .google_ico{ 
        width: 82px;      
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
    }

    .fa-google {
        margin-right: 10px;
        font-size: 15px;
    }

    .fb_ico{
        width: 82px;    
        padding: 5px;
        font-size: 12px;
    }

    .fa-facebook-f{
        font-size: 15px;
        margin-right:9px;
    }   

}



@media (min-width: 331px) and (max-width:480px) {
    .login {
        width: 80%;
        height: 57vh;
    }

    .logo{
        /* width: 100%; */
        margin: 0 40%;
        
    }

    .logo_img{
        width: 80px;
    }

    .login_div {
        width: 80%;
        margin:38px;
    }

    .login_sign{
        margin-top: 30px;
    }

    .log_btn{
        height: 32px;
        font-size: 18px;
    }

    .input_box {
        margin-top: 18px;
    }

    ::placeholder{
        font-size: 12px;
    }

    .user, .hide{
        font-size: 15px;
        position: absolute;
        top: 14px;
    }

    .password{
        margin-top: 15px;
    }

    .forgot{
        margin-top: 13px;
        font-size: 10px;
    }

    .log_btn{
        font-size: 20px;
    }

    .login_btn{
        margin-top: 20px;
    }

    .logbtn{
        font-size: 15px;
        height:30px;
    }

    .or_text{
        font-size: 13px;
    }

    .or::before{
        width: 46%;
        top: 8px;
        left: -3px;
    }

    .or::after{
        width: 46%;
        top: 9px;
        right: -3px;
    }

    .loginwith{
        font-size: 15px;
    }

    .google_ico{ 
        width: 82px;      
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
    }

    .fa-google {
        margin-right: 10px;
        font-size: 15px;
    }

    .fb_ico{
        width: 82px;    
        padding: 5px;
        font-size: 12px;
    }

    .fa-facebook-f{
        font-size: 15px;
        margin-right:9px;
    }   

}




@media (min-width: 481px) and (max-width:767px) {
    .login {
        width: 60%;
        height: 57vh;
    }

    .logo{
        /* width: 100%; */
        margin: 0 40%;
        
    }

    .logo_img{
        width: 80px;
    }

    .login_div {
        width: 80%;
        margin:46px;
    }

    .login_sign{
        margin-top: 30px;
    }

    .log_btn{
        height: 32px;
        font-size: 18px;
    }

    .input_box {
        margin-top: 18px;
    }

    ::placeholder{
        font-size: 12px;
    }

    .user, .hide{
        font-size: 15px;
        position: absolute;
        top: 14px;
    }

    .password{
        margin-top: 15px;
    }

    .forgot{
        margin-top: 13px;
        font-size: 10px;
    }

    .log_btn{
        font-size: 20px;
    }

    .login_btn{
        margin-top: 20px;
    }

    .logbtn{
        font-size: 15px;
        height:30px;
    }

    .or_text{
        font-size: 13px;
    }

    .or::before{
        width: 46%;
        top: 8px;
        left: -3px;
    }

    .or::after{
        width: 46%;
        top: 9px;
        right: -3px;
    }

    .loginwith{
        font-size: 15px;
    }

    .google_ico{ 
        width: 82px;      
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }

    .fa-google {
        margin-right: 10px;
        font-size: 15px;
    }

    .fb_ico{
        width: 100px;    
        padding: 5px;
        font-size: 15px;
    }

    .fa-facebook-f{
        font-size: 15px;
        margin-right:10px;
    }   

}


@media (min-width:768px) and (max-width:1023px) {
    .login {
        width: 50%;
        height: 57vh;
    }

    .logo{
        /* width: 100%; */
        margin: 0 40%;
        
    }

    .logo_img{
        width: 80px;
    }

    .login_div {
        width: 80%;
        margin:46px;
    }

    .login_sign{
        margin-top: 30px;
    }

    .log_btn{
        height: 32px;
        font-size: 18px;
    }

    .input_box {
        margin-top: 18px;
    }

    ::placeholder{
        font-size: 12px;
    }

    .user, .hide{
        font-size: 15px;
        position: absolute;
        top: 14px;
    }

    .password{
        margin-top: 15px;
    }

    .forgot{
        margin-top: 13px;
        font-size: 10px;
    }

    .log_btn{
        font-size: 20px;
    }

    .login_btn{
        margin-top: 20px;
    }

    .logbtn{
        font-size: 15px;
        height:30px;
    }

    .or_text{
        font-size: 13px;
    }

    .or::before{
        width: 46%;
        top: 8px;
        left: -3px;
    }

    .or::after{
        width: 46%;
        top: 9px;
        right: -3px;
    }

    .loginwith{
        font-size: 15px;
    }

    .google_ico{ 
        width: 110px;      
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }

    .fa-google {
        margin-right: 10px;
        font-size: 15px;
    }

    .fb_ico{
        width: 120px;    
        padding: 5px;
        font-size: 15px;
    }

    .fa-facebook-f{
        font-size: 15px;
        margin-right:10px;
    }   

}
